.hero-wrapper{
     width: 100%;
     height: 100vh;
     background: var(--whitish-color);
}

.slides-container{
      position: relative;
      width: 100%;
      height: 100%;
}
.slides-container .slide-moja{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      will-change: opacity;
}
.slides-container .slide-moja.prev{
         z-index: 3;
         opacity: 0;
         transition: 1s cubic-bezier(0.694, 0, 0.335, 1);
}
.slides-container .slide-moja.active{
         z-index: 10;
         opacity: 1;
         transition: all 1s cubic-bezier(0.694,0,0,0.335, 1);
         -webkit-transition: all 1s cubic-bezier(0.694,0,0,0.335, 1);
         -moz-transition: all 1s cubic-bezier(0.694,0,0,0.335, 1);
         -ms-transition: all 1s cubic-bezier(0.694,0,0,0.335, 1);
         -o-transition: all 1s cubic-bezier(0.694,0,0,0.335, 1);
}

.slides-container .slide-moja:not(.prev):not(.active){
         z-index: -1;
         opacity: 0.3;
}

.hero-wrapper.prev .slide-moja.prev{
        opacity: 0;
        z-index: 3;
}
.hero-wrapper.prev .slide-moja:not(.prev):not(.active){
         z-index: -1;
         opacity: 0.3;
}
.slide-moja:nth-child(1){
     background: url("../assets/landing1.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}
.slide-moja:nth-child(2){
     background: url("../assets/landing2.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}
.slide-moja:nth-child(3){
     background: url("../assets/landing3.jpg") no-repeat;
     background-size: cover;
     background-position: center;
     opacity: 0;
}

.slide-moja .slide-moja-inner{
      height: inherit;
      width: 1280px;
      margin: auto;
      display: flex;
      align-items: center;
}
.slide-moja .slide-texts {
    width: 800px;
}
.slide-moja .slide-texts h1{
    font-size: 80px;
    font-family: "Euclid-Bold";
    line-height: 90px;
}
.slide-moja .slide-texts h1 span{
     color: var(--main-color);
}
.slide-moja .slide-texts p{
    font-size: 18px;
    margin: 20px 0;
    width: 70%;
    line-height: 30px;
}
.slide-moja .slide-texts .hero-btn a{
     width: 200px;
     display: flex;
     height: 55px;
     background: var(--main-color);
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     color: white;
     justify-content: center;
     align-items: center;
}




























.spacer{
     padding: 200px 0;
}