.hero-wrapper{
     width: 100%;
     height: 100vh;
     background: var(--whitish-color);
}

.slides-container,
.slider-box-container{
      position: relative;
      width: 100%;
      height: 100%;
}
.slide-moja{
      height: 100vh;
}

.slide-moja.one{
     background: url("../assets/landing1.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}
.slide-moja.two{
     background: url("../assets/landing2.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}
.slide-moja.three{
     background: url("../assets/landing3.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}

.slide-moja .slide-moja-inner{
      height: inherit;
      width: 1280px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.slide-moja .slide-texts {
    width: 750px;
    opacity: 0;
}
.slide-moja .slide-texts.active{
       opacity: 1;
}
.slide-moja .slide-texts h1{
    font-size: 80px;
    font-family: "Euclid-Bold";
    line-height: 90px;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.slide-moja .slide-texts.active h1,
.slide-moja .slide-texts.active p{
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       -o-transform: translateY(0);
       opacity: 1;
}
.slide-moja .slide-texts h1 span{
     color: var(--main-color);
}
.slide-moja .slide-texts p{
    font-size: 18px;
    margin: 20px 0;
    width: 70%;
    line-height: 30px;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    opacity: 0;
    transition: all 1.3s ease;
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    -ms-transition: all 1.3s ease;
    -o-transition: all 1.3s ease;
}
.slide-moja .slide-texts.active p{
     transform: translateY(0);
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
     opacity: 1;
}
.slide-moja .slide-texts .hero-btn a{
     width: 200px;
     display: flex;
     height: 55px;
     background: var(--main-color);
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     color: white;
     justify-content: center;
     align-items: center;
     transform: translateY(100px);
     -webkit-transform: translateY(100px);
     -moz-transform: translateY(100px);
     -ms-transform: translateY(100px);
     -o-transform: translateY(100px);
     opacity: 0;
     transition: all 1.6s ease;
     -webkit-transition: all 1.6s ease;
     -moz-transition: all 1.6s ease;
     -ms-transition: all 1.6s ease;
     -o-transition: all 1.6s ease;
}
.slide-moja .slide-texts.active .hero-btn a{
     transform: translateY(0);
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
     opacity: 1;
}

.slide-moja .video-btn{
     margin-right: 5%;
     width: 100px;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 100%;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     -ms-border-radius: 100%;
     -o-border-radius: 100%;
     position: relative;
     z-index: 2;
}

.slide-moja .video-btn::after,
.slide-moja .video-btn::before{
       z-index: 1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background: rgb(247, 253, 255);
       border-radius: 100%;
       -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
       -ms-border-radius: 100%;
       -o-border-radius: 100%;
       animation: pulse 2s ease infinite;
       -webkit-animation: pulse 2s ease infinite;
}
.slide-moja .video-btn::before{
     opacity: 0;
     animation-delay: 1s;
     animation: pulse 3s ease infinite;
     -webkit-animation: pulse 3s ease infinite;
}
@keyframes pulse{
       0%{
             transform: scale(0.8) ;
             -webkit-transform: scale(0.8) ;
             -moz-transform: scale(0.8) ;
             -ms-transform: scale(0.8) ;
             -o-transform: scale(0.8) ;
             opacity: 0.5;
} 100%{
             transform: scale(1.4);
             -webkit-transform: scale(1.4);
             -moz-transform: scale(1.4);
             -ms-transform: scale(1.4);
             -o-transform: scale(1.4);
             opacity: 0.5;
}
}

.slide-moja .video-btn span{
     width: 100px;
     height: 100px;
     display: flex;
     color: var(--main-color);
     font-size: 25px;
     background: white;
     cursor: pointer;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     position: relative;
     z-index: 5;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}

.activity-box{
      width: 250px;
      height: 100px;
      background: var(--whitish-color);
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 5;
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.activity-box .left-btn p,
.activity-box .right-btn p{
       text-transform: uppercase;
       font-size: 14px;
       cursor: pointer;
}

.activity-box .left-btn p:hover,
.activity-box .right-btn p:hover{
      color: var(--main-color)
}


/* About Section */
.about-section{
     padding: 120px 0;
}

.about-section-content{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 80px;
}
.images-column .images-column-row{
     display: grid;
     grid-template-columns: repeat(2,1fr);
}
.images-column img:nth-child(1){
       width: 80%;
      border-radius:100% 0 0 100%/50% 0 0 50%;
      -ms-border-radius:100% 0 0 100%/50% 0 0 50%;
      -o-border-radius:100% 0 0 100%/50% 0 0 50%;
      -webkit-border-radius:100% 0 0 100%/50% 0 0 50%;
      -moz-border-radius:100% 0 0 100%/50% 0 0 50%;

}
.images-column img:nth-child(2){
     height: 500px;
      transform: translate(-10%, 30%);
      border-radius: 0 100% 100% 0/0 50% 50% 0;
      -webkit-border-radius: 0 100% 100% 0/0 50% 50% 0;
      -moz-border-radius: 0 100% 100% 0/0 50% 50% 0;
      -ms-border-radius: 0 100% 100% 0/0 50% 50% 0;
      -o-border-radius: 0 100% 100% 0/0 50% 50% 0;
      -webkit-transform: translate(-10%, 30%);
      -moz-transform: translate(-10%, 30%);
      -ms-transform: translate(-10%, 30%);
      -o-transform: translate(-10%, 30%);
}

.about-description-column{
     display: flex;
     align-items: center;
}

.intro{
      padding: 10px 20px;
      display: inline-block;
      background:rgb(235, 238, 240);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      margin-bottom: 20px;
}
.intro h4{
      font-family: "Euclid-Light";
      font-weight: 500;
}

.about-description-column h1{
     font-size: 60px;
     font-family: "Euclid-SemiBold";
     margin-bottom: 20px;
}

.about-description-column p{
       font-size: 18px;
       margin-bottom: 10px;
       line-height: 36px;
}
.about-description-column a{
       color: white;
       background-color: #222;
       width: 180px;
       height: 55px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 30px;
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       gap:2px;
       transition: all 0.5s ease-in-out;
       -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
}
.about-description-column a span{
     display: flex;
     margin-top: 2px;
}
.about-description-column a:hover{
       background: var(--main-color);
       gap: 7px;
}