.hero-wrapper{
     width: 100%;
     height: 100vh;
     background: var(--whitish-color);
}

.slides-container{
      position: relative;
      width: 100%;
      height: 100%;
}
.slide-moja{
      height: 100vh;
}

.slide-moja.one{
     background: url("../assets/landing1.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}
.slide-moja.two{
     background: url("../assets/landing2.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}
.slide-moja.three{
     background: url("../assets/landing3.jpg") no-repeat;
     background-size: cover;
     background-position: center;
}

.slide-moja .slide-moja-inner{
      height: inherit;
      width: 1280px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.slide-moja .slide-texts {
    width: 750px;
    opacity: 0;
}
.slide-moja .slide-texts.active{
       opacity: 1;
}
.slide-moja .slide-texts h1{
    font-size: 80px;
    font-family: "Euclid-Bold";
    line-height: 90px;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.slide-moja .slide-texts.active h1,
.slide-moja .slide-texts.active p{
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       -o-transform: translateY(0);
       opacity: 1;
}
.slide-moja .slide-texts h1 span{
     color: var(--main-color);
}
.slide-moja .slide-texts p{
    font-size: 18px;
    margin: 20px 0;
    width: 70%;
    line-height: 30px;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    opacity: 0;
    transition: all 1.3s ease;
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    -ms-transition: all 1.3s ease;
    -o-transition: all 1.3s ease;
}
.slide-moja .slide-texts.active p{
     transform: translateY(0);
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
     opacity: 1;
}
.slide-moja .slide-texts .hero-btn a{
     width: 200px;
     display: flex;
     height: 55px;
     background: var(--main-color);
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     color: white;
     justify-content: center;
     align-items: center;
     transform: translateY(100px);
     -webkit-transform: translateY(100px);
     -moz-transform: translateY(100px);
     -ms-transform: translateY(100px);
     -o-transform: translateY(100px);
     opacity: 0;
     transition: all 1.6s ease;
     -webkit-transition: all 1.6s ease;
     -moz-transition: all 1.6s ease;
     -ms-transition: all 1.6s ease;
     -o-transition: all 1.6s ease;
}
.slide-moja .slide-texts.active .hero-btn a{
     transform: translateY(0);
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
     opacity: 1;
}

.slide-moja .video-btn{
     margin-right: 5%;
     width: 100px;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 100%;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     -ms-border-radius: 100%;
     -o-border-radius: 100%;
     position: relative;
     z-index: 2;
}

.slide-moja .video-btn::after,
.slide-moja .video-btn::before{
       z-index: 1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background: rgb(247, 253, 255);
       border-radius: 100%;
       -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
       -ms-border-radius: 100%;
       -o-border-radius: 100%;
       animation: pulse 2s ease infinite;
       -webkit-animation: pulse 2s ease infinite;
}
.slide-moja .video-btn::before{
     opacity: 0;
     animation-delay: 1s;
     animation: pulse 3s ease infinite;
     -webkit-animation: pulse 3s ease infinite;
}
@keyframes pulse{
       0%{
             transform: scale(0.8) ;
             -webkit-transform: scale(0.8) ;
             -moz-transform: scale(0.8) ;
             -ms-transform: scale(0.8) ;
             -o-transform: scale(0.8) ;
             opacity: 0.5;
} 100%{
             transform: scale(1.4);
             -webkit-transform: scale(1.4);
             -moz-transform: scale(1.4);
             -ms-transform: scale(1.4);
             -o-transform: scale(1.4);
             opacity: 0.5;
}
}

.slide-moja .video-btn span{
     width: 100px;
     height: 100px;
     display: flex;
     color: var(--main-color);
     font-size: 25px;
     background: white;
     cursor: pointer;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     position: relative;
     z-index: 5;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}

.activity-box{
      width: 250px;
      height: 100px;
      background: var(--whitish-color);
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 5;
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.activity-box .left-btn p,
.activity-box .right-btn p{
       text-transform: uppercase;
       font-size: 14px;
       cursor: pointer;
}

.activity-box .left-btn p:hover,
.activity-box .right-btn p:hover{
      color: var(--main-color)
}
























.spacer{
     padding: 200px 0;
}